.About-us{
    min-height: 80vh;  
    font-family: Montserrat;
}
.flex-contain {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    /* text-align: center; */
  }
  
  .item-left {
    padding-top: 100px;
    padding-left: 40px;
    flex: 50%;
    min-height: 60vh;
  }
  .abo{
    font-family: Montserrat;
    font-size: 20px;
  }
  
  .item-right {
    /* padding: 10px; */
    flex: 50%;
    min-height: 60vh;
    /* background-position: center; */
   }

/* .one{
    padding-top: 150px;
    width: 250px;
} */
/* .three{
    margin-left: 20px;
    padding-top: 100px;
    width: 200px;
} */
/* .fo{
    margin-right: 100px;
    height: 300px;
    width: 200px;
   
} */

/* .fo{
    margin-right: 400px;
    height: 250px;
    margin-top: 10px;
} */
/* .two{
  margin-left: -80px;
    width: 250px;
    margin-top: -300px;
    padding-bottom: 0px;
    height: 300px;

} */


@media screen and (max-width: 1920px) {

.one{
    padding-top: 150px;
    width: 300px;
}
.three{
    margin-left: 20px;
    padding-top: 100px;
    width: 250px;
    padding-right: 10px;

}
.two{
  width: 360px;
  margin-left: 200px;
margin-top: -300px;
margin-bottom: 30px;
}
.fo{
    margin-right: 400px;
    height: 270px;
    margin-top: 10px;
}


        }
        @media screen and (max-width: 1201px) {

          .one{
            padding-top: 150px;
            width: 250px;
        }
        .three{
          margin-left: 20px;
          padding-top: 100px;
          width: 200px;
          padding-right: 10px;
      
      }
      .two{
        width: 300px;
        margin-left: 180px;
      margin-top: -300px;
      margin-bottom: 40px;
      height: 250px;
      }
      .fo{
          margin-right: 400px;
          height: 250px;
          margin-top: 10px;
      }
        }
  
.learn{
    position: relative;
    width: 180px;
    height: 50px;
   
}
.more{
  position:absolute ;
  left:80px;
  margin-top:10px;
  font-size:20px;
  color:white;
  font-family:Montserrat
}
@media (max-width: 600px) {
  .abo{
    font-size: 18px;
  }
}

  @media (max-width: 800px) {
    .flex-contain {
      flex-direction: column;
      flex-direction: column-reverse;
      padding: 0%;
    }
    
  
    .item-right {
      min-height: 24vh;
      background-position: top;
      margin-top: 12px;
      padding-left: 40px;
    }
    .item-left{
        padding-top: 10px;
    }
  }

  @media (max-width: 500px) {
    .one{
        width: 180px;
    }
    .three{
        width: 140px;
        margin-left: 10px;
    }
    .fo{
        width: 130px;
       
    }
    .two{
        width: 180px;
     /* padding-top: 100px; */
        margin-left: 150px;
        margin-top: -308px;
        height: 300px;
        padding-bottom: 80px
    }
    .item-right{
        padding-top: 0px;
    }
   .abo{
    padding-right: 10px;
    font-size: 15px;
   }
  }
  @media (max-width: 500px) {

    .item-right{
       padding-left: 30px;
    }
  }
  @media (max-width: 320px) {

    .one{
        width: 120px;
    }
    .fo{
        width: 100px;
    }
    .three{
     height:80px
    }
    .two{
        margin-left: 120px;
        width: 150px;
        margin-top: -160px;
       height: 300px;
   margin-top: -300px;
       padding-bottom: 40px;
    }
   
  }
  @media (max-width: 520px) {

    .one{
      width: 200px;
  }
  .three{
      width: 160px;
      margin-left: 10px;
  }
  .fo{
      width: 150px;
     
  }
  .two{
      width: 200px;
   /* padding-top: 100px; */
      margin-left: 170px;
      margin-top: -260px;
      height: 250px;
      padding-bottom: 80px
  }
 
   
  }
  @media (max-width: 537px) {
    .abo{
      font-size: 15px;
    }
    .learn{
      position: relative;
      width: 140px;
      height: 50px;
     
  }
  .more{
    position:absolute ;
    left:55px;
    margin-top:10px;
    font-size:20px;
    color:white;
    font-family:Montserrat
  }
  }
  @media (max-width: 465px) {
.abo{
  font-size: 14px;
}
}
@media (max-width: 437px) {
  .abo{
    font-size: 13px;
  }
  }
  @media (max-width: 410px) {
    .one{
      width: 140px;
  }
  .fo{
      width: 120px;
  }
  .three{
   height:100px
  }
  .two{
      margin-left: 140px;
      width: 170px;
      margin-top: -160px;
     height: 250px;
 margin-top: -300px;
     padding-bottom: 0px;
  }
  .item-right{
    padding-left: 30px;
 }
 .abo{
  font-size: 13px;
}
  }
  @media (max-width: 409px) {
    .abo{
      font-size: 11px;
    }
  }
  @media (max-width: 355px) {
    .abo{
      font-size: 10px;
    }
  }

  @media (max-width: 350px) {

    .one{
        width: 120px;
    }
    .fo{
        width: 100px;
    }
    .three{
     height:80px
    }
    .two{
        margin-left: 120px;
        width: 170px;
        margin-top: -160px;
       height: 250px;
   margin-top: -300px;
       padding-bottom: 0px;
    }
   
  }
  @media (max-width: 330px) {

    .one{
        width: 110px;
    }
    .fo{
        width: 90px;
    }
    .three{
     height:70px
    }
    .two{
        margin-left: 110px;
        width: 170px;
        margin-top: -160px;
       height: 250px;
   margin-top: -300px;
       padding-bottom: 0px;
    }
    .abo{
      font-size: 9px;
    }
  }


  