.testimonals{
    min-height: 90vh;
    
}
.testi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    
   }
   .testi h5{
    font-weight: bold;
    font-size: 30px;
    font-family: Montserrat;
   }
   .testi  .Benefits{
    text-align: center;
   margin-top: -40px;
   font-size: 30px;
   font-family: Montserrat;

   }
   .tests {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    gap: 2rem;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 30px;
    font-family: Montserrat;
  }
  .test-one{
    background-color: lightgray;
    color: #006;
    height: 300px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: relative;
    padding-bottom: 40px;
    overflow: hidden;
 
  }
  .circle{
 
    position: absolute;
   /* left: 80px; */
   top: 30px;
   margin-left: 80px;
  }
  .circle-two{
    position: absolute;
   /* left: 80px; */
   top: 60px;
   margin-left: 80px;
  }

  @media (max-width: 1920px) {
   
    .circle{
 
      position: absolute;
     /* left: 80px; */
     top: 60px;
     margin-left: 80px;
    }
    .circle-two{
      position: absolute;
     /* left: 80px; */
     top: 100px;
     margin-left: 80px;
    }
  }


  @media (max-width: 1920px) {
   
    .circle{
 
      position: absolute;
  
     top: 50px;
     margin-left: 80px;
    }
    .circle-two{
      position: absolute;
   
     top: 80px;
     margin-left: 80px;
    }
  }
  @media (max-width: 1340px) {
   
    .circle{
 
      position: absolute;
  
     top: 40px;
     margin-left: 80px;
    }
    .circle-two{
      position: absolute;
   
     top: 60px;
     margin-left: 80px;
    }
  }

  @media (max-width: 700px) {
   .circle{
 
    position: absolute;
   /* left: 80px; */
   top: 30px;
   margin-left: -10px;
  }
  .circle-two{
    position: absolute;
    margin-left: -10px;
   top: 60px;
  }
  }
  @media (max-width: 645px) {
    .circle{
  
     position: absolute;
    /* left: 80px; */
    top: 30px;
    margin-left: -20px;
   }
   .circle-two{
     position: absolute;
     margin-left: -20px;
    top: 60px;
   }
   }
   @media (max-width: 580px) {
    .circle{
  
     position: absolute;
    /* left: 80px; */
    top: 30px;
    margin-left: -35px;
   }
   .circle-two{
     position: absolute;
     margin-left: -35px;
    top: 60px;
   }
   }
 
  .col{
    height: 10vh;
    background-color: #0C2647;
  }
  .col-two{
    height: 15vh;
    background-color: rgba(0, 60, 227, 0.9);
  }
  .col-three{
    height: 10vh;
    background-color: rgba(0, 60, 227, 0.9);;
  }
  .test-two{
    background-color: lightgray;
    color: #006;
    height: 370px;
    margin-top: -40px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
   position: relative;
   padding-bottom: 20px;
   overflow: hidden;
    
  }

 
    .test-two{
        background-color: lightgray;
        color: #006;
        height: 370px;
        margin-top: -40px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-top: 10px;
      }


  
  @media (min-width: 900px) {
    .tests {
      grid-template-columns: repeat(3, 1fr);
    }
  
  }
  @media (max-width: 900px) {
    .tests {
      grid-template-columns: repeat(2, 1fr);
    }
    
    .circle{
 
      position: absolute;
  
     top: 30px;
     margin-left: 150px;
    }
    .circle-two{
      position: absolute;
   
     top: 40px;
     margin-left: 150px;
    }
  
  }

  @media (max-width: 500px) {
    .tests {
      grid-template-columns: repeat(1, 1fr);
      padding: 50px;
      
    }}
  @media (max-width: 320px) {
 .p{
    font-size: 10px;
    font-family: Montserrat;
 }
  }
  @media (max-width: 810px) {
    .test-one{
      width: 350px;
      margin-left: 50px;
    }
    .test-two{
      width: 350px;
    }
    .circle{
 
      position: absolute;
  
     top: 30px;
     margin-left: 130px;
    }
    .circle-two{
      position: absolute;
   
     top: 40px;
     margin-left: 130px;
    }
  }
  @media (max-width: 800px) {
    .test-one{
      width: 350px;
      margin-left: 10px;
    }
    .test-two{
      width: 350px;
    }
 
  
  }
  @media (max-width: 750px) {
    .test-two{
      margin-left: -20px;
    }
  }

  @media (max-width: 730px) {
    .tests {
      grid-template-columns: repeat(1, 1fr);

     
    }
    .test-one{
      margin-left: 200px;
    }
    .test-two{
      margin-left: 200px;
    }
    
  }
  @media (max-width: 650px) {
    .test-one{
      margin-left: 150px;
    }
    .test-two{
      margin-left: 150px;
    }
  }
  @media (max-width: 550px) {
    .test-one{
      margin-left: 110px;
    }
    .test-two{
      margin-left: 110px;
    }
  }

  @media (max-width: 501px) {
    .test-one{
      margin-left: 30px;
    }
    .test-two{
      margin-left: 30px;
    }
  }
  @media (max-width: 450px) {
    .test-one{
      margin-left: -10px;
    }
    .test-two{
      margin-left: -10px;
    }
  }
  @media (max-width: 400px) {
  .test-one{
    width: 250px;
    margin-left: 20px;
  }
  .circle{
    margin-left: 90px;
  }
  .test-two{
    width: 250px;
    margin-left: 20px;
  }
  .circle-two{
    margin-left: 90px;
  }
    .testi  .Benefits{
      font-size: 20px;
    }
  }
  @media (max-width: 350px) {
.test-one{
  margin-left: 1px;
}
.test-two{
  margin-left: 1px;
}
  }
  @media (max-width: 330px) {
    .test-one{
      margin-left: -10px;
    }
    .test-two{
      margin-left: -10px;
    }
      }

