.Footer{
    min-height: 90vh;
background: url(../../Images/Footer.png);
background-size: cover;
background-repeat: no-repeat;
position: relative;
/* background-color:  #1F90F3 ,( rgba(12, 76, 132, 0) 100%); */
background-color: #1F90F3;
font-family: Montserrat;
}
.tut{
    display: flex;
padding: 50px;
}

.Ellipse{
    padding: 50px;
    margin-left: 100px;
}
.Enter{
    margin-top: 30px;
    font-family: Montserrat;
}
.Copyright{
    display: flex;
    justify-content: center;
    margin-top: 430px;
    margin-left: 100px;
    color: white;
    font-family: Montserrat;
}
@media screen and (max-width: 500px) {
    .elli{
        width: 200px;
    }
}
@media screen and (max-width: 400px) {
    .Ellipse{
        padding: 50px;
        margin-left: 100px;
    }
}
@media screen and (max-width: 400px) {
    .Ellipse{
        padding: 20px;
        margin-left: 80px;
    }
}


.footcards{
    max-width: 100px;
    margin: 0 auto;
    gap: 2rem;
    display: flex;
    justify-content: center;
    margin-top: -600px;
    flex-direction: column;
    font-family: Montserrat;
   
    
   
}
.footcardds{
    display: flex;
    justify-content: center;
    margin-top: -200px;
    flex-direction: column;
    margin-left: 900px; 
    font-family: Montserrat;
}



.Newsletter{
    display: flex;
    justify-content: center;
    margin-top: -200px;
    flex-direction: column;
    margin-left: 1200px; 
    font-family: Montserrat;
}
.input{
height: 30px;
color: grey;
background: #FFFFFF;
border-radius: 5px;
border: #FFFFFF;
padding: 5px;
font-family: Montserrat;

}
.butt{
    height: 40px;  
    background: #074276;
border-radius: 1px ;
border: #074276;
color: white;

}
@media screen and (max-width: 800px) {
    .footcardds{
        margin-top: -195px;
        flex-direction: column;
        margin-left: 447px; 
        font-size: 15px;
    }
    .footcards{
        margin-left: 370px;
        font-size: 15px;
      
    }
  

.Newsletter{
    display: flex;
    justify-content: center;
    margin-top: -195px;
    flex-direction: column;
    margin-left: 530px; 
}


.input{
    height: 30px;
    color: grey;
    background: #FFFFFF;
    border-radius: 5px;
    border: #FFFFFF;
    width: 150px;
    
    }
    .butt{
        height: 40px;  
        background: #074276;
    border-radius: 1px ;
    border: #074276;
    
    }
   .Copyright{
    padding-bottom: 10px;
   }
}

@media screen and (max-width: 500px) {
  
    .footcards{
        max-width: 100px;
        margin: 0 auto;
        gap: 2rem;
        display: flex;
        justify-content: flex-start;
      flex-direction: column;
      margin-top: -200px;
      margin-right: 270px;  
    }
  
  .Copyright{
  margin-right: 60px;
  }
     .footcardds{
        max-width: 100px;
        margin: 0 auto;
        gap: 2rem;
        display: flex;
        justify-content: flex-start;
      flex-direction: column;
      /* margin-top: -280px; */
      margin-right: 270px;  
    } 
    .Newsletter{
        display: flex;
        justify-content: center;
        margin-top: -10px;
        flex-direction: column;
        margin-left: 50px; 
        padding-bottom: 20px;
    }
   
    

}

@media screen and (max-width: 766px) {
  
    .footcards{
        max-width: 100px;
        margin: 0 auto;
        gap: 2rem;
        display: flex;
        justify-content: flex-start;
      flex-direction: column;
      margin-top: -320px;
      /* margin-right: 270px;   */
      margin-left: 50px;
    }
  
  .Copyright{
  margin-right: 60px;
  }
     .footcardds{
        max-width: 100px;
        margin: 0 auto;
        gap: 2rem;
        display: flex;
        justify-content: flex-start;
      flex-direction: column;
      /* margin-top: -280px; */
      margin-left: 50px; 
    } 
    .Newsletter{
        display: flex;
        justify-content: center;
        margin-top: -10px;
        flex-direction: column;
        margin-left: 50px; 
        padding-bottom: 20px;
    }
   
    

}

/* @media screen and (max-width: 400px) {
  
    .footcards{
        max-width: 100px;
        margin: 0 auto;
        gap: 2rem;
        display: flex;
        justify-content: flex-start;
      flex-direction: column;
      margin-top: -120px;
      margin-right: 220px;  
    }
  
  
     .footcardds{
        max-width: 100px;
        margin: 0 auto;
        gap: 2rem;
        display: flex;
        justify-content: flex-start;
      flex-direction: column; */
      /* margin-top: -280px; */
      /* margin-right: 220px;  
    } 

} */


@media screen and (max-width: 320px) {
  
    .footcards{
        max-width: 100px;
        margin: 0 auto;
        gap: 2rem;
        display: flex;
        justify-content: flex-start;
      flex-direction: column;
      margin-top: -150px;
      margin-right: 170px;  
    }
  
  
     .footcardds{
        max-width: 100px;
        margin: 0 auto;
        gap: 2rem;
        display: flex;
        justify-content: flex-start;
      flex-direction: column;
      margin-right: 170px; 
    } 

}


@media screen and (max-width: 501px) {

    .footcards{
        max-width: 100px;
        margin: 0 auto;
        gap: 2rem;
        display: flex;
        justify-content: flex-start;
      flex-direction: column;
      margin-top: -250px;
    margin-left: 50px;
    }

}
@media screen and (max-width: 400px) {

    .footcards{
        max-width: 100px;
        margin: 0 auto;
        gap: 2rem;
        display: flex;
        justify-content: flex-start;
      flex-direction: column;
      margin-top: -200px;
    margin-left: 50px;
    }

}
    
