.cform{
    min-height: 70vh;
    font-family: Montserrat;
   
}
.flex{
    display: flex;
    
    font-size: 30px;
    /* text-align: center; */
    min-height: 50vh;
    flex-direction: row;
  }
  
  .left {
    padding: 10px;
    flex: 50%;
  }
  
  .right {
    padding: 10px;
    flex: 50%;
  }
  .left .heading{
    align-items: center;
    text-align: center;
    font-family: Montserrat;
  }

  .right form{
    align-items: center;
    text-align: center;
    padding-top: 40px;
    font-family: Montserrat;
  }
  .inpp{
height: 25px;
border-radius: 5px;
border:1px solid #D9D9D985;
background-color: #D9D9D985;
font-family: Montserrat;
padding: 5px;
  }
  .inpp:focus {

    border:1px solid #D9D9D985;
  }
  .inputt:focus {

    border:1px solid #D9D9D985;
  }
  .inputt{
    height: 25px;
border-radius: 5px;
border:1px solid #D9D9D985;
background-color: #D9D9D985;
margin-left: 10px;
font-family: Montserrat;
padding: 5px;
  }
  .Area{
  margin-top: 20px;
  width: 340px;
  height: 140px;
  border-radius: 5px;
border:1px solid #D9D9D985;
background-color: #D9D9D985;
padding: 10px;
font-family: Montserrat;

  }
  .b{
    width: 150px;
    height: 35px;
    background: #074276;
border-radius: 5px;
border: 1px solid  #074276;
color: white;
font-family: Montserrat;
  }
  @media (max-width: 800px) {
    .flex {
    flex-direction: column;
    }
  }
  @media (max-width: 372px) {
    .inpp{
      width: 70%;
    }
    .inputt{
      width: 70%;
      margin-left: -3px;
    }
  }
  @media (max-width: 366px) {
    .inpp{
      width: 75%;
    }
    .inputt{
      width: 75%;
      margin-left: -3px;
    }
  }
  @media (max-width: 320px) {
    .Area{
        width: 250px;

    }
  

  }

  @media (max-width: 375px) {



    .Area{
      width: 250px;
    }
  }
