.Available{
    display: flex;
    flex-direction: row;
    font-size: 30px;
   
    padding: 40px;
   width: 80%;
   margin: 0% auto;
  }
  
  .Available-left {
    background-color: #FFFFFF;
    min-height: 40vh;
    flex: 50%;
    border-radius: 5px;
    font-family: Montserrat ;
   
  
  }
  .up{
    padding: 20px;
    font-size: 20px;
    border-bottom: 1px solid #0000005E;
    font-family: Montserrat ;
  }
  .Sessions{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #0000005E;
    padding-right: 15px;
    font-family: Montserrat ;

  }
  .Session{
    display: flex;
    flex-direction: row;
    padding-right: 15px;
    font-family: Montserrat ;
  }
  .ul{
    margin-top: 10px;
    list-style: none;
    font-family: Montserrat ;

    
  }
  .ll{
    font-size: 20px;
    margin-left: -10px;
   
  }
  .ull{
    margin-top: 10px;
    list-style: none;
    margin-left: 200px;
    font-family: Montserrat ;
  }
  .details{
    margin-left: 40px;
    margin-top: 10px;
    font-family: Montserrat ;
  
  }
  .detailss{
    margin-top: 10px;
    margin-left: 30px; 
    font-family: Montserrat ;
  }
  .det{
    width: 100px;
    height: 40px;
    background-color: #074276;
    border:  #074276;
    color: white;
    font-family: poppins;
    font-size: 15px;
    border-radius: 5px;
    font-family: Montserrat ;
  }
  @media (max-width: 1280px) {
.ull{
  margin-left: 100px;
}
  }

  @media (max-width: 1170px) {
    .ull{
      margin-left: 60px;
    }
      }
      @media (max-width: 1140px) {
        .ull{
          margin-left: 30px;
        }
          }


          @media (max-width: 1090px) {
            .ull{
              margin-left: 10px;
            }
              }
              @media (max-width: 1050px) {
                .ull{
                  margin-left: -5px;
                }
                .ul{
                  margin-left: -20px;
                }
                  }


                  @media (max-width: 990px) {
                    .Available {
                      flex-direction: column;
                    }
                    .Sessions{
                    flex-direction: column;
                    padding-bottom: 5px;
                    }
                    .Session{
                        flex-direction: column;
                        padding-bottom: 5px;
                        margin-left: 20px;
                    }
                
                    .ul{
                        margin-left: -20px;
                    }
                    .ull{
                        margin-left: -20px;  
                    }
                    .details{
                        margin-left: 20px;
                    }
                    .ll{
                      margin-left: 1px;
                    }
                  }

  @media (max-width: 900px) {
    .Available {
      flex-direction: column;
    }
    .Sessions{
    flex-direction: column;
    padding-bottom: 5px;
    }
    .Session{
        flex-direction: column;
        padding-bottom: 5px;
    }

    .ul{
        margin-left: -20px;
    }
    .ull{
        margin-left: -20px;  
    }
    .details{
        margin-left: 20px;
    }
    .ll{
      margin-left: 1px;
    }
  }